.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr 90px;
  height: 100vh;
  gap: 8px;
  padding: 8px;
  background-color: var(--bg-primary);
}

@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 90px;
    padding: 0;
    gap: 0;
  }
}
